<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.is.was.be.wannareddit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <provider
            android:name=".data.generated.ForRedditProvider"
            android:authorities="com.is.was.be.wannareddit.data.ForRedditProvider"
            android:exported="false"/>

        <activity
            android:name=".SubredditActivity" android:parentActivityName=".MainActivity"
            android:theme="@style/ClearTheme">
        </activity>
        <activity android:name=".DetailActivity" android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Include the host attribute if you want your app to respond
                     only to URLs with your app's domain. -->
                <data android:scheme="http" android:host="com.is.was.be.wannareddit" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">
        </activity>

        <service
            android:name=".service.WannaTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.is.was.be.wannareddit.service.WannaIntentService" />

        <!-- Collection Widget -->
        <service
            android:name=".widget.WidgetMainService"
            android:enabled="@bool/enable_widget_detail"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <receiver
            android:name=".widget.WidgetMainProvider"
            android:enabled="@bool/enable_widget_detail"
            android:label="@string/title_widget">
            <intent-filter>

                <!-- The 2 actions are only needed for older versions - copied them anyway -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.is.was.be.wannareddit.POST_WIDGET_DATA_UPDATED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

    </application>

</manifest>